.heading{
  color: white;
 text-align: center;
}
.passbox{
  background-color: grey;
  margin:5% 15%;
  padding: 3%;
  border-radius: 5px;
}
.container{
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
